$color-user: #b2b0b0;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;

  grid-template-columns: 38rem 1fr 38rem;

  grid-template-rows: minmax(min-content, 10rem) 45rem repeat(3, min-content);

  .header {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .search {
    background-color: blanchedalmond;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .offers {
    background-color: yellowgreen;
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .recognition {
    background-color: rgb(110, 9, 150);
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .footer {
    background-color: rgb(155, 127, 255);
    grid-row: 5/6;
    grid-column: 2/3;
  }
}
